##### FEATURE ENCODING

##### feature encoding is the process of converting a non numerical data into a numerical format that machine learning algorithms can understand and process.
###### we choose this because...... the type of categorical data, the number of unique values in a categorical column,and the mode we plan to train types of categorical data.... nominal(no order), ordinal order(order)
###### NOMINAL DATA: no order existence ex:red, ordinal data order exists ex: size(small<medium<large)
                     rating(low<medium<high) importance: text data can't be use directly in model training. proper encoding: 
                     improves model accuracy prevents wrong assumptions make training stable
### common feature encoding technique(7)
     Label encoding, one hot encoding, target encoding, ordinal encoding, frequency encoding, binary encoding, feature hasmap
#### LABEL ENCODING:
     each category is asssigned a unique integer (eg: "red":0,"green":1).
     use for ordinal data (inherent order) or with tree based models that are nots sensitive to that numerical order.

In [3]:
import pandas as pd
df=pd.DataFrame({
    "color":["red","green","blue","green"],
    "size":["small","medium","large","medium"],
    "city":["hyd","delhi","mumbai","delhi"],
    "target":[10,20,15,25]
})
df

   color    size    city  target
0    red   small     hyd      10
1  green  medium   delhi      20
2   blue   large  mumbai      15
3  green  medium   delhi      25

In [9]:
from sklearn.preprocessing import LabelEncoder

In [11]:
df["color_label"]= LabelEncoder().fit_transform(df["color"])
df[["color","color_label"]]

   color  color_label
0    red            2
1  green            1
2   blue            0
3  green            1

#### ONE-HOT CODING:
      1-present,0-absent
      create a new binary column for each category, with a 1 indicating the presence of that category and 0 otherwise.
      ideal for nominal data with low to medium cardinalitym and for linear models and nueral networks.

In [12]:
one_hot=pd.get_dummies(df["color"],prefix="color") # if the value is there then it will be
one_hot

   color_blue  color_green  color_red
0       False        False       True
1       False         True      False
2        True        False      False
3       False         True      False

In [13]:
oh=pd.get_dummies(df,columns=["color"])
oh

     size    city  target  color_label  color_blue  color_green  color_red
0   small     hyd      10            2       False        False       True
1  medium   delhi      20            1       False         True      False
2   large  mumbai      15            0        True        False      False
3  medium   delhi      25            1       False         True      False

### ordinal encoding:
     Similar to label encoding, but the integer assignment is based on the specific, predefined order or rank of the categories(eg: "low":0,"medium":1,"high":2)
     use specifically when the categorical variable ahs the natural meaning ful order.

In [14]:
from sklearn.preprocessing import OrdinalEncoder # takes all the values based on order

In [16]:
order=[["small","medium","large"]]
df[["size_ordinal"]]= OrdinalEncoder(categories=order).fit_transform(df[["size"]])
df[["size","size_ordinal"]]

     size  size_ordinal
0   small           0.0
1  medium           1.0
2   large           2.0
3  medium           1.0

### Target Encoding 
     Each category is replaced with the mean of the target variable for that category.
     Effective for high-cardinality features and when there's a strong relationship bettween the category and the target       variable, but requires careful validation to valid target values

In [17]:
te=df.groupby("city")["target"].mean()
df["city_target_Enc"]=df["city"].map(te)
df[["city", "city_target_Enc"]]

     city  city_target_Enc
0     hyd             10.0
1   delhi             22.5
2  mumbai             15.0
3   delhi             22.5

### BINARY ENCODING
     categories are first converted to integers, then to binary code and each bit becomes a separate column
     reduce number of columns
     better than one hotcoding for high cardinality
     pip install category_encoders need to be installed

In [1]:
import category_encoders as ce

In [4]:
d_b=ce.BinaryEncoder(cols=["city"]).fit_transform(df["city"])
d_b

   city_0  city_1
0       0       1
1       1       0
2       1       1
3       1       0